{{!-- {{Main page layout for all sectors of site }} --}}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title>
        <link rel="stylesheet" href="/css/styletw.css">
    </head>

    <body class="bg-gray-800">
        <div>
            <header class="">
                {{!-- Navigation Bar--}}
               {{> nav }}
            </header>
            <main class="">
                <!-- Render the sub layouts -->
                {{{ body }}}
            </main>
            <footer>

            </footer>
        </div>

        <!-- Render script for logged in users only -->
        {{#if session.loggedIn}}
        <script src="/js/logout.js"></script>
        {{/if}}

        {{!-- jQuery --}}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous">
            </script>

          {{!--Dashboard Functionality--}}
        <script src="/js/dashboard.js"></script>

    </body>

</html>
