{{!-- {{Main page layout for all sectors of site }} --}}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title>
        <link rel="stylesheet" href="/css/styletw.css">
    </head>

    <body class="bg-gray-800">
        <div>
            <header class="fixed top-0 w-full z-50">
                {{!-- Navigation Bar--}}
               {{> nav }}
            </header>
            <main class="mt-20">
                <!-- Render the sub layouts -->
                {{{ body }}}
            </main>

<footer
    class="fixed bottom-0 left-0 z-20 p-4 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com/"
            class="hover:underline">Tech Blog</a> |  Thank you for viewing.
    </span>

</footer>


        </div>



        <!-- Render script for logged in users only -->
        {{#if session.loggedIn}}
        <script src="/js/logout.js"></script>
        {{/if}}

        {{!-- jQuery --}}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous">
            </script>

          

    </body>

</html>
