{{!-- {{Main page layout for all sectors of site }} --}}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title>
        <link rel="stylesheet" href="/css/styletw.css">
    </head>

    <body>
        <div class="">
            <header class="">
                <h1>
                    <a href="/">Tech Blog</a>
                </h1>
                {{!-- Navigation Bar--}}
               {{> nav }}
            </header>
            <main class="">
                <!-- Render the sub layouts -->
                {{{ body }}}
            </main>
            <footer>

            </footer>
        </div>
    </body>

</html>
