<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="">
  <div class="">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  <div class="">
    <p>
      [SUMMARY OF CONTENT LIMITED TO 300 CHARS]
    </p>
  </div>
</div>
{{/each}}
