<!-- Login Screen-->

<h2>Log In</h2>
<form class="login-form">
    <!--Login Email-->
    <div>
        <label for="email-login">
            <span>Email</span>
            <input id="email-login" type="text">
        </label>
    </div>
    <!--Login Password-->
    <div>
        <label for="password-login">
            <span>Password</span>
            <input id="password-login" type="password">
        </label>
    </div>
    <!--Login Button-->
    <div>
        <button type="submit">Log In</button>
    </div>
</form>
